Binaries
DerivedDataCache
Intermediate
Saved
MetaHumans
Fab
Characters
StarterContent
Meshes

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Untitled.blend
Untitled.blend1
