Binaries
DerivedDataCache
Intermediate
Saved
MetaHumans
Fab
Characters
StarterContent
Collections
MWLandscapeAutoMaterial
AzielArts_Material
AdvancedVillagePack
House
HandPaintedEnvironment
Medieval_Sewer_Dungeon
PN_interactiveSpruceForest
Gold/Textures/

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Untitled.blend
Untitled.blend1
Content/ThirdPerson/Meshes/Gold/Textures/
